html{
    position: relative;
    min-height: 100%;
}
.flex-main{
    display: flex;
}
.menu {
    width: 20%;
    height: 100vh;
    padding: 10px;
}
.content {
    width: 80%;
    height: 100vh;
    padding: 10px;
}
.compname {
    text-align: center;
}
